body{
	background-color: #141414;
}
img {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}
picture, img {
	vertical-align: middle;
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
.hiding{
  -webkit-animation: hiding 2s;
  animation: hiding 2s;
}
@keyframes hiding {
	from { opacity: 1; }
	to   { opacity: 0; }
}
@-webkit-keyframes hiding {
	from { opacity: 1; }
	to   { opacity: 0; }
}

/* center the image */
html, body, .img-wrap{
	height: 100%;
	width: 100%;
}
.img-wrap{
	height: 100%;
	width: 100%;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.hidden{
	visibility: hidden;
}
